@media screen and (max-width: 1280px) {
  .site-width {
    max-width: 1180px;
    margin: 0rem auto;
  }

  /* H1 */
  .sg-about-us-banner-text h1 {
    font-size: 2.5rem;
  }

  .sg-about-us-banner-text em,
  .sg-about-our-ats-sl p {
    font-size: 1.2rem;
  }

  .sg-about-our-ats-sl h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 999px) {
  .sg-about-us-banner-text {
    width: 70%;
  }

  .sg-about-our-ats-slot {
    align-items: center;
  }
  .sg-about-our-ats-sl p {
    width: 100%;
  }

  .sg-about-our-ats-sl h1,
  .sg-our-trainer h1,
  .sg-about-number-slot h1,
  .git-slot h1 {
    font-size: 1.7rem;
  }
  .sg-our-trainer-sl h2 {
    font-size: 1.2rem;
  }

  .sg-about-our-ats-sl p,
  .git-sl1 p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .git-sl2 {
    padding-left: 3rem;
  }
  .sg-our-trainer-sl i {
    font-size: 1.2rem;
  }
  .git-sl2 input {
    width: 14rem;
  }
  .git-sl2 button {
    width: 6rem;
    height: 1.7rem;
  }
  .git-sl2 button a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 780px) {
  .sg-about-us-banner-title {
    height: 24rem;
  }

  .sg-about-us-banner-text h1 {
    font-size: 2rem;
  }
  .sg-about-us-banner-text em {
    font-size: 1rem;
  }
  .sg-about-us-banner-text em span {
    font-size: 2.3rem;
  }
  .sg-our-trainer-sl i {
    font-size: 1rem;
  }

  .sg-about-our-ats-sl h1,
  .sg-our-trainer h1,
  .sg-about-number-slot h1,
  .git-slot h1 {
    font-size: 1.35rem;
  }

  .sg-about-our-ats-sl p,
  .git-sl1 p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .sg-about-number-slot p {
    font-size: 2rem;
  }

  .git-slot {
    padding: 1rem;
    width: 65%;
  }
  .git-sl2 input {
    width: 10rem;
  }

  .git-sl1 i {
    font: size 1rem;
  }
}

@media screen and (max-width: 580px) {
  .sg-about-us-banner-text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
  .sg-about-us-banner-text {
    padding-top: 30%;
  }

  .sg-about-our-ats-slot {
    padding: 2rem 0rem;
  }

  .sg-about-us-banner-text em {
    line-height: 2rem;
  }

  .sg-about-us-banner-text em,
  .sg-about-our-ats-sl p {
    font-size: 0.9rem;
  }
  .sg-about-our-ats-sl h1,
  .sg-our-trainer h1,
  .sg-about-number-slot h1,
  .git-slot h1 {
    font-size: 1.2rem;
  }

  .sg-about-number-slot {
    padding: 1.8rem 0rem;
  }
  .sg-about-number-slot p {
    font-size: 1.5rem;
  }

  .sg-our-trainer {
    padding: 3rem 0rem 0rem;
  }
  .sg-our-trainer::before {
    top: 4.7rem;
  }

  .sg-our-trainer-sl h2 {
    font-size: 0.9rem;
  }

  .sg-about-our-ats-sl {
    flex-basis: 65%;
    padding: 0rem 0rem 2rem;
  }

  .get-in-touch {
    padding: 4rem 0rem 2rem;
  }

  .git-sl1 i,
  .git-sl1 p {
    margin: 0.24rem 0.2rem;
  }
  .git-sl2 {
    padding-left: 1rem;
    height: 9rem;
    width: 40%;
  }
  .git-sl2 input {
    width: 7rem;
    height: 1.4rem;
    font-size: 0.8rem;
  }

  .git-sl2 button {
    width: 4rem;
    height: 1.3rem;
  }
  .git-sl2 button a {
    font-size: 0.8rem;
  }
  .git-slot h1 {
    padding-bottom: 0.4rem;
  }
  .git-sl1 p {
    font-size: 0.8rem;
  }
  .git-sl1 i {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 380px) {
  .sg-about-us-banner-text {
    padding-top: 35%;
  }

  .sg-about-us-banner-text h1 {
    font-size: 1.2rem;
  }
  .sg-about-us-banner-text em,
  .sg-about-our-ats-sl p {
    font-size: 0.8rem;
  }
  .sg-about-us-banner-text em span {
    font-size: 1.5rem;
  }
  .sg-about-us-banner-title {
    height: 14rem;
  }
  .sg-about-our-ats-sl h1,
  .sg-our-trainer h1,
  .sg-about-number-slot h1,
  .git-slot h1 {
    font-size: 1rem;
  }
  .sg-about-us-banner-text em,
  .sg-about-our-ats-sl p {
    font-size: 0.7rem;
    line-height: 1.1rem;
  }
  .sg-about-number-slot p {
    font-size: 1.2rem;
  }
  .git-slot {
    width: 80%;
    text-align: center;
  }

  .sg-our-trainer-sl h2 {
    font-size: 0.8rem;
  }
  .sg-our-trainer-sl i {
    font-size: 0.75rem;
  }
  .git-sl1 {
    flex-basis: 65%;
  }
  .git-sl1 p {
    font-size: 0.65rem;
  }
  .git-sl2 {
    border: none;
    padding: 0rem 0rem;
    width: 57%;
  }
}
