* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.site-width {
  max-width: 1260px;
  margin: 0px auto;
}
a {
  text-decoration: none;
}



/* HEADER */
.header {
  position: relative;
}
.header-banner {
  width: 100%;
}




/* NAVBAR */
.navbar {
  position: absolute;
  top: 1.5rem;
  width: 100%;
}
.current-tab{
  color: #2487ff !important;
}
.navbar-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-menu {
  width: 60%;
}
.navbar-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.navbar-menu ul li a {
  color: #fff;
  font-size: 1.1rem;
}
.navbar-btn a {
  padding: 0.7rem 1.5rem;
  border-radius: 1.25rem;
  background-color: #0072ff;
}

.navbar-btn a:hover, .banner button:hover{
  background-color: #0050b1;
  transition-duration: .5s;
  
}



/* BANNER */

button {
  background: none;
}

.left,
.right {
  display: flex;
}

.sl {
  padding: 1px 19px;
  background: #6878d6;
  position: absolute;
  border-radius: 50px;
  top: 330px;
  color: #fff;
}

.right-sl {
  right: 30px;
}

.left-sl {
  left: 30px;
}

.bgimg-2{
  position: absolute;
  left: 5000px;
}

.display-none{
  display: block !important;
}

.bgimg-3{
  position: absolute;
  right: 5000px;
}

.hide-bg1{
  position: absolute;
  display: none;
  transition: 0.7s cubic-bezier(0.23, 1, 0.320, 1);
  left: 600px;
}

.show-bgimg{
  position: relative;
  left: 0;
}


.banner {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.banner h1 {
  font-size: 4rem;
  width: 80%;
  margin: 0px auto;
}
.banner p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
.banner button {
  background: #0072ff;
  border: none;
  outline: none;
  padding: 0.7rem 1.8rem;
  border-radius: 1.25rem;
}
.banner button a {
  color: #fff;
  font-size: 1.2rem;
}




/* ABOUT US */
.about-us,
.classes {
  position: relative;
}
.about-us-title,
.classes-title {
  text-align: center;
  font-size: 10rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #ebeff0;
}
.about-us-over,
.classes-over {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 10%;
}
.our-mission,
.classes-cont {
  top: 40%;
  left: 0rem;
  right: 0rem;
}
.our-mission-title,
.classes-over-title {
  text-align: center;
  font-size: 2rem;
  color: #0072ff;
}
.our-mission-p,
.classes-over-p {
  text-align: center;
  font-size: 1.3rem;
  color: #555555;
}
.mission-slot {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5rem 0rem;
}
.mission-sl1 {
  width: 50%;
}
.mission-sl1 p {
  width: 90%;
  margin: 0rem auto;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
}
.mission-sl2 {
  width: 50%;
  text-align: center;
}
.mission-sl2 img {
  width: 80%;
  border-radius: 1.5rem;
  box-shadow: 0px 6px 10px 1px #555555;
}



/* SERVICES */
.services{
  background: url(/images/banner3.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  text-align: center;
}
.services-fade-title, .our-coach-fade-title{
  font-size: 10rem;
  opacity: 40%;
  text-transform: uppercase;
}
.services-over-title, .our-coach-over-title{
  position: absolute;
  top: 10%;
  width: 100%;
}
.services-over-title h1, .our-coach-over-title h1{
  font-size: 2rem;
}
.services-over-title p, .our-coach-over-title p{
  font-size: 1.3rem;
}

.services-slot, .our-coach-slot{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 5rem 0rem;
}
.services-sl{
  width: 28%;
  border-radius: 1rem;
  padding: 1rem 0rem ;
}
.services-sl p, .our-coach-sl p{
  line-height: 1.5rem;
  padding: 0.5rem 0rem 0rem;
  width: 80%;
  margin: 0rem auto;
}
.services-sl-active{
  background-color: #1c83ff;
  color: #fff;
}
.services-sl-inactive{
  background-color: #fff;
}
.services-sl-inactive a{
  color: #1c83ff;
}


.services-sl-icon {
  font-size: 4rem;
  border: 0.2rem solid;
  border-radius: 50%;
  width: 30%;
  margin: 0.5rem auto;
}
.services-sl-icon i{
  padding: 1rem;
}
/* CLASSES */
.classes-slot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 5rem 0rem;
}

.classes-sl1 {
  background: url(/images/classimg1.jpg) no-repeat center;
}
.classes-sl2 {
  background: url(/images/classimg2.jpg) no-repeat center;
}
.classes-sl {
  background-size: cover;
  color: #fff;
  padding: 8rem 2.5rem;
  width: 40%;
  border-radius: 30px;
  box-shadow: 0px 6px 10px 1px #555555;
}
.classes-sl h1 {
  font-size: 2.2rem;
  padding: 0rem 0rem 1rem;
}
.classes-sl p {
  font-size: 1.5rem;
  padding: 1rem 0rem 0.5rem;
}
.classes-sl h3 {
  font-size: 1.4rem;
}
.classes-sl span {
  color: #2487ff;
}




/* OUR COACH  */
.our-coach{
  background: url(/images/banner4.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  text-align: center;
}

.our-coach-sl img{
  width: 30%;
  border-radius: 50%;
}
.our-coach-sl h1{
  color: #86bdff;
}
.our-coach-sl p{
  width: 60%;
}
/* BORDER */
/* .our-coach-profile-sl1::before {
  content: "";
  position: absolute;
  left: 9.7rem;
  right: 0rem;
  top: 13.35rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}
.our-coach-profile-sl1::after {
  content: "";
  position: absolute;
  left: 30.4rem;
  right: 0rem;
  top: 13.35rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}

.our-coach-profile-sl2::before {
  content: "";
  position: absolute;
  left: 49.1rem;
  right: 0rem;
  top: 13.35rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}
.our-coach-profile-sl2::after {
  content: "";
  position: absolute;
  left: 69.7rem;
  right: 0rem;
  top: 13.35rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}

.our-coach-profile-photo1::before {
  content: "";
  position: absolute;
  left: 2.7rem;
  right: 0rem;
  top: -1.12rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
}
.our-coach-profile-photo1::after {
  content: "";
  position: absolute;
  left: 27.5rem;
  right: 0rem;
  top: -1.12rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
}

.our-coach-profile-photo2::before {
  content: "";
  position: absolute;
  left: 3rem;
  right: 0rem;
  top: -1.12rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
}
.our-coach-profile-photo2::after {
  content: "";
  position: absolute;
  left: 27.5rem;
  right: 0rem;
  top: -1.12rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
}

.our-profile-text1::before {
  content: "";
  position: absolute;
  left: 2.7rem;
  right: 0rem;
  top: 5rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}

.our-profile-text1::after {
  content: "";
  position: absolute;
  left: 23.7rem;
  right: 0rem;
  top: 5rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}

.our-profile-text2::before {
  content: "";
  position: absolute;
  left: 3rem;
  right: 0rem;
  top: 5rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}

.our-profile-text2::after {
  content: "";
  position: absolute;
  left: 23.7rem;
  right: 0rem;
  top: 5rem;
  width: 4rem;
  height: 0.25rem;
  background-color: #fff;
}
.our-profile-photo-p1::before {
  content: "";
  position: absolute;
  left: 2.7rem;
  right: 0rem;
  top: -0.75rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
}
.our-profile-photo-p1::after {
  content: "";
  position: absolute;
  left: 27.45rem;
  right: 0rem;
  top: -0.75rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
}

.our-profile-photo-p2::before {
  content: "";
  position: absolute;
  left: 3rem;
  right: 0rem;
  top: -0.75rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
}
.our-profile-photo-p2::after {
  content: "";
  position: absolute;
  left: 27.45rem;
  right: 0rem;
  top: -0.75rem;
  width: 0.25rem;
  height: 4rem;
  background-color: #fff;
} */



/* QUERY */
.query-slot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 4rem 0rem 2rem;
}
.query-sl1 {
  width: 45%;
}
.query-sl2 {
  width: 50%;
}
.query-sl1 h1 {
  font-size: 3rem;
  color: #2487ff;
}
.query-sl1 p {
  font-size: 1.6rem;
  color: #464646;
  padding: 0.5rem 0rem 2rem;
}
.query-sl1 h3 {
  color: #464646;
}
.query-sl2 h1 {
  font-size: 2.3rem;
  color: #464646;
}
.query-sl2 h4 {
  font-size: 1.5rem;
  color: #464646;
  padding: 1.3rem 0rem 0.5rem;
}
.query-name-title{
  padding: 2rem 0rem 0rem;
}
.name-slot{
  display: flex;
}
.name-slot input{
  font-size: 1.2rem;
  width: 15rem;
  height: 3rem;
  border: 0.1rem solid #0072ff;
  border-radius: 0.9rem;
  padding: 0rem 0.3rem;
  outline: none;
  margin-right: 0.3rem;
}
.email-slot input, .phone-slot input {
  font-size: 1.2rem;
  width: 30.5rem;
  padding: 0rem 0.3rem;
  height: 3rem;
  outline: none;
  border: 0.1rem solid #0072ff;
  border-radius: 0.9rem;
}



/* FOOTER */
.footer{
  background-color: #1a1a1a;
}
.footer-slot{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 3rem 0rem 2rem;
}
.footer-sl1{
  width: 30%;
}
.footer h1{
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0rem;
}
.footer ul li{
  list-style-type: none;
}
.footer li a{
  color: #b1b1b1;
  line-height: 2rem;
}
.footer-sl3{
  width: 40%;
}
.footer-sl3 input{
   width: 17rem;
   height: 2.3rem;
}
.footer-sl3 p{
  color: #b1b1b1;
  padding: 1rem 0rem 0rem;
}
.footer-sl3 button{
  background-color: #0072ff;
  position: absolute;
  border:none;
  outline: none;
}
.footer-sl3 button a{
  padding: 2rem 1rem;
  color: #fff;
  font-size: 1.6rem;
}
.footer-sl3 button a i{
  padding: 0.5rem 0rem;
}
.footer-sl1 li a:hover{
  color: #fff;
}